@charset "UTF-8";
body
{
	border:2px solid;
	margin:auto;
	width:600px;
	padding:30px;
	background-color: rgb(236, 245, 210);
}
div
{
	padding:0px 40px;
	display:flex;
	justify-content:space-between;
}
a
{
	color:blue;
}
h1
{
	color:red;
	text-align:center;
}
h2
{
	color:green;
	text-align:center;
}
label{
    display:inline-block;
    width: 100px;
    margin-left:50px;
	}
form
{
	border:1px solid;
	margin:30px;
	margin-bottom:10px;
	
	padding:10px;
	background-color: rgb(200, 222, 134);
}
.btn
{
	margin-left:155px;
}
